.card-grid{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;                 /* constant spacing */
  justify-content: center;   /* or flex-start if you want left aligned */
  max-width: calc(var(--card-size) * 3 + var(--card-gap) * 2);
  margin-inline: auto;
}

.card-grid > article{
  flex: 0 1 23rem;           /* fixed card size */
  /* or: flex: 0 1 23rem;    if you want it to shrink a bit before wrapping */
  max-width: 23rem;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border);
  background: var(--color-surface);
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  border-radius: var(--size-card-radius);
}


.card-grid article:hover {
    transform: translateY(-6px);
}

.card-grid article img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: var(--size-card-radius) var(--size-card-radius) 0 0;
}

.card-grid article h2,
.card-grid article h3 {
    min-height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 0.5rem 1rem; */
    font-size: 2rem;
}



.card-grid h3 {
    margin: 1rem 1rem 0.5rem;
    font-weight: 700;
}

.card-grid p {
    padding: 1rem;
    text-align: center;
}

.card-grid article a {
    color: var(--color-text);
}

.card-grid article a .cta {
    display: block;
    background: var(--btn-secondary-bg);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.card-grid ul,
.card-grid ol{
    margin-left:1.7rem;
}