.card-grid {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    justify-content: stretch;

    /* center the grid when extra space */
    align-items: stretch;
    padding-inline: 0.7rem;

    /* Intrinsic sizing */
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.card-grid article {
    max-width: 23rem;
    margin-inline: auto;
    /* ensures centering if fewer items in row */
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    background: var(--color-surface);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.card-grid article:hover {
    transform: translateY(-6px);
}

.card-grid article h2,
.card-grid article h3 {
    min-height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 0.5rem 1rem; */
    font-size: 2rem;
}

.card-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-grid h3 {
    margin: 1rem 1rem 0.5rem;
    font-weight: 700;
}

.card-grid p {
    padding: 1rem;
    text-align: center;
}

.card-grid article a {
    color: var(--color-text);
}

.card-grid article a .cta {
    display: block;
    background: var(--btn-secondary-bg);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.card-grid ul,
.card-grid ol{
    margin-left:1.7rem;
}