/* --- Fonts Import --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

:root {
    /* --- Base --- */
    --color-bg: #ffffff;
    --color-text: #000000;

    /* --- Text --- */
    --color-text-primary: #224099;
    /* strong emphasis, titles */
    --color-text-secondary: #5F5EA5;
    /* lighter emphasis */
    --color-text-muted: #D5DAED;
    /* helper text */

    /* --- Surfaces --- */
    --color-surface: #ffffff;
    --color-surface-alt: #F8F8FA;
    /* optional subtle background */

    /* --- Brand / Accents --- */
    --color-accent-primary: #224099;
    --color-accent-primary-light: #E3DBFF;
    --color-accent-primary-dark: #5F5EA5;

    --color-accent-secondary: #FFE500;
    --color-accent-secondary-dark: #FFC727;
    --color-accent-secondary-light: #FFE7A1;
    --color-accent-secondary-soft: rgba(255, 229, 0, 0.5);

    /* --- Buttons --- */
    --btn-primary-bg: var(--color-accent-secondary);
    --btn-primary-color: var(--color-text);

    --btn-secondary-bg: var(--color-accent-primary-dark);
    --btn-secondary-color: var(--color-bg);

    --btn-radius: 8px;
    --btn-padding: 0.6em 1.2em;
    --btn-font-weight: 600;

    /* --- States --- */
    --color-border: #D5DAED;
    --color-hover: rgba(0, 0, 0, 0.05);
    --color-focus: var(--color-accent-primary);
}


/* Reset / Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg);
}

/* Links */
a {
    color: var(--color-accent-primary);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0.5em;
    color: var(--color-text-primary);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

/* Text */
p,
li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}


/* Container */
.tight {
    display: block;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


/* Main headers */
main>header h1 {
    background: var(--color-accent-primary-light);
    padding: 3rem 0;
}

main>header div:has(p) {
    margin:7prem 0;
}

main>section {
    margin-bottom: 7rem;
}



/* Responsive */
@media (max-width: 768px) {

    section[aria-labelledby="hero-heading"],
    section[aria-labelledby="don-heading"] {
        grid-template-columns: 1fr;
    }

    body>header nav {
        flex-direction: column;
        gap: 1rem;
    }
}