.ecoles .card-grid {
    justify-content: center;
    gap: 3rem;
}

.ecoles .card-grid article {
    height: 37rem;
}

.ecoles .card-grid article h2 {
    height:13rem;
}

.ecoles .card-grid article dl,
.ecoles .card-grid article p:last-child {
    margin-top: 2rem;
    padding: 0.7rem;
}
.ecoles .card-grid article dl dt {
    margin-bottom: 0.7rem;
    font-weight:600;
}
.ecoles .card-grid article dl dd {
    padding-left: 1.3rem;
}
.ecoles .card-grid article dl dd::before {
    content: "â—";
    font-size:0.5rem;
    margin-right:0.5rem;
    vertical-align: middle;
}
.ecoles .card-grid article dl dd span{
    float:right;
}

.ecoles section h2{
    background:none;
    color:black;
    text-align: center;
}



/* Download section */
main>section:last-of-type {
    text-align: center;
    margin: 3rem 0;
}

main>section:last-of-type a {
    display: inline-block;
    background: var(--color-accent-secondary-dark);
    color: var(--btn-primary-color);
    padding: var(--btn-padding);
    border-radius: 999px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

main>section:last-of-type a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}