

.ecoles .card-grid article h2 {
    min-height: 11rem;
}

.ecoles .card-grid article dl,
.ecoles .card-grid article p:last-child {
    margin-top: 2rem;
    padding: 0.7rem;
}

.ecoles .card-grid article dl dt {
    margin-bottom: 0.7rem;
    font-weight: 600;
}

.ecoles .card-grid article dl dd {
    padding-left: 1.3rem;
}

.ecoles .card-grid article dl dd::before {
    content: "â—";
    font-size: 0.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.ecoles .card-grid article dl dd span {
    float: right;
}

.ecoles section h2 {
    background: none;
    color: black;
}

.ecoles section ul {
    margin-left: 1.7rem;
}

/* Download section */
main>section:last-of-type {
    text-align: center;
}



main>section:last-of-type a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


#ecoles-t1-t7-t6 header h1,
#ecoles-t6-t8 header h1 {
    background-color: #2c5033;
    color: white;
}

#ecoles-t7 header h1 {
    background-color: var(--color-accent-secondary-dark);
    color: black;
}

#ecoles-t1-t7-t6 .card-grid article h3{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#ecoles-t1-t7-t6 .card-grid article ul{
 margin-left: 5rem;
 margin-bottom: 2rem;
}

#ecoles-t1-t7-t6 section footer{
    text-align: center;
    margin-top: 2rem;
}