.team-section {
  display:flex;
  gap:4rem;
  margin-top:4rem;
}

.team-section article{
    background: var(--color-surface);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.team-section article img{
    border-top-left-radius: var(--size-card-radius);
    border-top-right-radius: var(--size-card-radius);
    width: 400px;

}

.team-section article figcaption{
  font-size:2rem;
  text-align:center;
}

.team-section .admin-members{
  list-style-type:none;
}

.team-section .admin-members>li{
  display:inline;
}

.team-section .admin-members>li::after{
  content:'—';
  padding:0rem 0.4rem 0rem 0.4rem;
}

#donateurs figure{
    margin-top:3rem;

}
