main.irsa h2{
  margin-bottom:4rem;
}

main.irsa section > div {
  display:flex;
  gap:4rem;
}

main.irsa article{
    background: var(--color-surface);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

main.irsa article img{
    border-top-left-radius: var(--size-card-radius);
    border-top-right-radius: var(--size-card-radius);
    width: 400px;

}

main.irsa section article figcaption{
  font-size:2rem;
  text-align:center;
}

main.irsa .admin-members{
  list-style-type:none;
}

main.irsa .admin-members>li{
  display:inline;
}

main.irsa .admin-members>li::after{
  content:'—';
  padding:0rem 0.4rem 0rem 0.4rem;
}
