/* Hero section */


section[aria-labelledby="hero-heading"] {
    gap: 2rem;
    padding: 4rem 2rem;
    align-items: center;
    min-height: 37rem;
}

section[aria-labelledby="hero-heading"] div>* {
    margin-bottom: 2rem;
}

section[aria-labelledby="hero-heading"] h2 {
    margin-bottom: 1rem;
}

section[aria-labelledby="hero-heading"] img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    max-width: 700px;
}

/* Questionnaire */
section[aria-labelledby="questionnaire-heading"] {
    text-align: center;
    background: linear-gradient(90deg, var(--color-accent-secondary-light), var(--color-accent-primary-light));
    position: relative;
    padding: 4rem 2rem;
    text-align: center;
    background: url('/ui/blob/blob_home_questionnaire.svg') no-repeat center / cover;
    min-height: 51rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem
}


section[aria-labelledby="questionnaire-heading"] p {
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section[aria-labelledby="questionnaire-heading"] .btn {
    background: #FFE500;
    color: #000;
    padding: 0.75rem 1.5rem;
    border-radius: 999px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}


/* Stats */
section[aria-labelledby="stats-heading"] {
    position: relative;
    padding: 4rem 2rem;
    text-align: center;
    background: url('/ui/blob/blob_home_stats.svg') no-repeat right / cover;
    min-height: 51rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem
}


.stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.stats-list dt {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.stats-list dd {
    margin-left: 0;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
}

/* Don section */
section[aria-labelledby="don-heading"] {
    padding: 4rem 2rem;
}

section[aria-labelledby="don-heading"] img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

@media screen and (min-width:64rem) {
    section[aria-labelledby="hero-heading"] {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    section[aria-labelledby="questionnaire-heading"] {
        background-size: contain;
    }

    section[aria-labelledby="stats-heading"] {
        background-size: contain;
    }

    section[aria-labelledby="don-heading"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        padding: 4rem 2rem;
    }
}