body {
    background-image: url('/ui/blob/blob_services_1.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

main section>h2 {
    background: var(--color-text-secondary);
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

/* Sous-titres */
main section h3 {
    margin: 3rem 0;
    text-align: center;
}


section[aria-labelledby="jour-heading"] {
    background-image: url('/ui/blob/blob_services_2.svg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

section[aria-labelledby="services-heading"] {
    background-image: url('/ui/blob/blob_services_3.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

/* --- Hébergement et Centres de jour --- */
.link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}


.link-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3.1rem;
}

.link-grid li {
    margin: 0.5rem 0;
}

.link-grid a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-accent-primary-light);
    color: var(--color-text-primary);
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: var(--btn-radius);
    transition: background 0.2s ease;
}

.link-grid a::after {
    content: "\003009";
    font-weight: 900;
    color: var(--color-text-secondary);
    display: block;
}

.link-grid a:hover {
    background: var(--color-accent-secondary-light);
    text-decoration: none;
}
