.triple-infos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.triple-infos>article {
    text-align: left;
    padding: 0;
}

.triple-infos h3 {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.triple-infos article p {
    margin: 0;
    font-size: 0.95rem;
}
.triple-infos .btn{

}

@media (min-width: 64rem) {
    .triple-infos {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        /* equal height */
        gap: 2rem;
    }

    .triple-infos>article {
        flex: 1 1 0;
        padding: 0 1rem;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    /* Dividers between columns */
    .triple-infos>article:not(:last-of-type)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 20%;
        bottom: 20%;
        width: 2px;
        background-color: black;
    }
}