.triple-infos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.triple-infos > article {
    position: relative;
    padding: 0 1rem;
    text-align: left;
}

.triple-infos h3 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
}

.triple-infos article p {
    margin: 0;
    font-size: 0.95rem;
}

.triple-infos > article::before,
.triple-infos > article::after {
    position: absolute;
    top: 20%;
    bottom: 20%;
    width: 2px;
    background-color: black;
}

.triple-infos > article::before {
    content: "";
    left: 0;
}

@media (min-width: 64rem) {
    .triple-infos {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
    }

    .triple-infos > article {
        flex: 1 1 0;
    }

    .triple-infos > article::before {
        content: none; /* resset mobile */
    }

    .triple-infos > article:not(:last-of-type)::after {
        content: "";
        right: 0;
    }
}