RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [QSA,L]

<IfModule mod_env.c>
    # define a DEV_MODE var for PHP to consume
    SetEnv DEV_MODE true
</IfModule>